# Ignore Python virtual environments
venv/
myenv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore the entire .gitbook directory
.gitbook/

# Makes sure that the openapi-gen workflow pushes the new generated json file
!.gitbook/assets/*.json
